<h1> Ingredients </h1>

<% @ingredients.each do |ingredient| %>
    <div id="ingredient<%= ingredient.id %>">
        <p><%= "#{ingredient.name}: #{ingredient.recipe_count}" %></p>
    </div>
<% end %>